.bigTitle{
    font-size: 10px;
}



*.h1{
    font-size: 32px;
}

#bigid{ /* 아이디는 여러번 쓸 수 있는 거 같지만 한번만 사용 가능함 */
    font-size: 20px;
}

*{ /* 전체 선택자 */
    text-align: center;
}
div{    /* 요소 선택자 */
    border: 1px solid black;
}
.header{ /* 클래스 선택자 : .클래스명으로 선택 */
    background-color: darkblue;
    color: white;
}
.article{   
    width: 80%;
}
#main_article{ /*id 선택자 : #아이디이름 으로 선택, 한 요소에만 적용할 수 있으며 중복되지 않아야 함(중복되도 큰 문제는 안생김)*/
    font-weight: bold;
    font-size:20px;
}
#sub_article{
    font-size: 10px;
}

.main .selection{   /* 후손 선택자 : '선조 후손' 형태로 사용, 두 개 이상의 요소를 연결하여 선택 */
    width: 80%;
}
.main p{ /* 후손 선택자는 바로 밑이 아니어도 그 아래는 전부 선택됨 */
    color : red;
}

.main > p { /* 자식 선택자 : '부모 > 자식', 바로 아래 단계에 있는 요소만 선택*/
    background-color: green; 
}

.article + p { /* 인접 형제 선택자 : +기호 사용, 바로 뒤에만 선택 가능*/
    font-style: italic;
}

.article ~ p{ /* 일반 형제 선택자 : ~기호 사용, 선택한 요소와 동일한 부모 요소를 가진 모든 형제요소, 뒤에 나온 것만 되는 듯 */
    text-decoration: line-through;
}

[href] {    /* 속성 선택자 : [속성값]으로 선택, 해당 속성이 있는 모든 요소 선택 */
    color: blueviolet;
}
[href="google.com"]{ /* 속성 선택자는 '=' 기호를 사용하여 일치하는 값을 지정 가능 */
    border: 1px dashed red;
}

/* 글자 깜박임 참고 : https://zxchsr.tistory.com/309?category=867190 */
@keyframes blink-effect { 50% { opacity: 0; } } 

[id^='selec']{ /* 시작 부분 일치 선택자 : ^ 사용 */
    animation: blink-effect 1s step-end infinite;
}
/* 나타나는 효과 참고 : https://jess2.xyz/css/fade-in-out/ */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
[id$='_article']{ /* 종료 부분 일치 선택자 : $ 사용 */
    animation: fadein 3s;
}

/* 포함하는 부분일치 선택자 * 사용 */

.article, .selection {/* 여러개는 ,(쉼표) 사용 */
    float:left;
}
/* 가상 선택자 */
a:hover{    /* 마우스 커서 올라갔을 때*/
    font-size: 30px;
}
a:active{ /*활성화할 때*/
    background-color: cornsilk; /* 실행될때만 보여서 너무 빨라서 잘 안보임 */
}

input:focus{    /*인풋 태그에 글 적으려면 빨개짐 */
    background-color: red;
}

.selection::before{ /* 요소내용 앖에 컨텐츠 추가 */
    content:"----------------------------------------";
    color:blue;
}

.selection::after{ /* 요소내용 앖에 컨텐츠 추가 */
    content:"^";
    color: green;
}

/* 가상 선택자 
:first-child
:last-child
nth-child(숫자)
*/

.header{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
}
.nav{
    position: absolute;
    background-color: black;
    right: 0;
    width: 200px;
    top :10px;
}
.aside{
    float: right;
    width: 10%;
    right: 0;
}

.footer{
    position:absolute;
    width: 100%;
    bottom: 0;
}